.footer {
  height: 60px;
  background-color: #212121;
  margin-bottom: 20px;
}

.footer span {
  position: relative;
  top: 30%;
}

.footer span:nth-of-type(even) {
  color: green;
}

@media (max-width: 700px) {
  .footer {
    width: 95vw;
    margin: 0 auto;
  }
}

@media (max-width: 440px) {
  .footer {
    text-align: center;
    overflow: hidden;
  }
}

@media (max-width: 360px) {
  .footer {
    overflow: hidden;
  }
  .footer span {
    font-size: 14px;
  }
}
