.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  margin-top: 20px;
}

.menu p {
  font-size: 26px;
}

.menu ul {
  display: flex;
}

.menu ul li {
  padding: 5px;
}

.menu ul li a {
  font-size: 18px;
}

.menu ul li a:hover {
  border-bottom: 1px solid #f9f9f9;
}

@media (max-width: 700px) {
  .menu {
    width: 95vw;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 360px) {
  .menu {
    justify-content: center;
    justify-self: center;
    overflow: hidden;
  }
  .menu ul {
    align-items: center;
    overflow: hidden;
  }
}
