.servicos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
}

.servicos li {
  width: 30%;
  background-color: #212121;
  border: 1px solid #333333;
  border-bottom: 5px solid #00df5e;
  transition: 0.3s;
}

.servicos li:hover {
  position: relative;
  top: -10px;
  transition: 0.3s;
}

.servicos li img {
  position: relative;
  top: 15%;
  right: 38%;
}

.servicos li p {
  width: 120px;
  padding-top: 40px;
  margin: 30px 0;
  margin-left: 30px;
  font-size: 32px;
  color: #828282;
  text-align: start;
}

@media (max-width: 700px) {
  .main {
    max-width: 700px;
    display: flex;
    justify-self: center;
    flex-direction: column;
  }
  .servicos {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .servicos li {
    width: 50vw;
    margin-bottom: 10px;
  }
  .servicos li:hover {
    top: 0;
  }
}

@media (max-width: 480px) {
  .main {
    max-width: 480px;
  }
}

@media (max-width: 320px) {
  .servicos li img {
    position: relative;
    top: 15%;
    right: 20%;
  }
  .servicos li p {
    width: 120px;
    font-size: 24px;
    text-align: left;
    position: relative;
    left: -10px;
  }
}
