.skills {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.skills li {
  width: 150px;
  height: 150px;
  background: #212121;
  border: 1px solid #333333;
  transition: 0.5s;
}

.skills li:hover {
  position: relative;
  top: -10px;
  transition: 0.5s;
}

.skills img {
  margin-top: 24%;
}

.skills li:nth-child(4) {
  padding-top: 13px;
}

.skills li:nth-child(5) {
  padding-top: 4px;
}

.skills li:last-child {
  padding-top: 13px;
}

@media (max-width: 700px) {
  .skills {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .skills li {
    margin: 2px;
  }
  .skills li:hover {
    top: 0;
  }
}

@media (max-width: 500px) {
  .skills {
    max-width: 490px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .skills li {
    margin: 2px;
  }
  .skills li:hover {
    top: 0;
  }
}

@media (max-width: 440px) {
  .skills {
    max-width: 430px;
  }
}
